*~
Makefile
cpp/.deps/
cpp/nbproject
cpp/Makefile.in
cpp/SourceVITA49
cpp/configure
cpp/depcomp
cpp/install-sh
cpp/ltmain.sh
cpp/missing
cpp/*.o
cpp/*.m4
cpp/config.*
cpp/*.cache

Makefile
cpp_arm/.deps/
cpp_arm/nbproject
cpp_arm/Makefile.in
cpp_arm/SourceVITA49
cpp_arm/configure
cpp_arm/depcomp
cpp_arm/install-sh
cpp_arm/ltmain.sh
cpp_arm/missing
cpp_arm/*.o
cpp_arm/*.m4
cpp_arm/config.*
cpp_arm/*.cache
